.nav__filters {
  display: none;
  margin-top: 1rem;
  width: 100%;
  gap: 1rem;
  padding-bottom: 1rem;
}

.nav__category-button {
  background-color: #ff4b4b;
  border-radius: 5px;
  padding: clamp(0.1rem, 2vw, 0.5rem);
  border-style: none;
  color: white;
  font-size: clamp(0.75rem, 2vw, 1.1rem);
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.nav__category-button:hover {
  box-shadow: 3px 3px rgba(180, 159, 204, 0.3);
  transform: translateY(-1px);
}

.nav__category-button:active {
  box-shadow: 1px 1px rgba(180, 159, 204, 0.3);
}

@media (min-width: 1024px) {
  .nav__filters {
    display: flex;
  }
}
