.nav {
  background-color: #f4efea;
  display: flex;
}

.nav__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: clamp(0.75rem, 2vh, 1.5rem);
}

.nav__logo {
  display: none;
  width: 10rem;
}

.nav__logo img {
  width: 100%;
  height: auto;
}

.nav__links {
  display: none;
}

.nav__links-cart {
  display: flex;
  height: 32px;
}

.nav__search-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav__search-form {
  display: flex;
  flex-grow: 1;
}

.nav__search {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border: solid 2px #ff4b4b;
  height: 2.5rem;
  margin-right: 0;
  outline: none;
  padding-left: 1rem;
  line-height: 1.5rem;
  flex-grow: 1;
}

.nav__search-button {
  background-color: #ff4b4b;
  border-bottom-right-radius: 20px;
  border-left: none;
  border-top-right-radius: 20px;
  border: 1px solid #ff4b4b;
  color: white;
  font-weight: 600;
  padding-inline: 1rem;
}

@media (min-width: 1024px) {
  .nav__content {
    justify-content: space-between;
  }

  .nav__logo {
    display: flex;
  }

  .nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__links-cart {
    position: relative;
    display: flex;
  }

  .nav__links-cart-count {
    position: absolute;
    background-color: red;
    font-size: 1rem;
    color: white;
    top: 0px;
    right: 0px;
    border-radius: 100%;
    margin: 0;
  }

  .nav__search-container {
    max-width: 500px;
  }
}
