.page {
  display: flex;
  justify-content: center;
}

.page__products {
  margin-top: 1rem;
  display: grid;
  gap: clamp(1rem, 2vw, 1.5rem);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-block: 1rem;
}

@media (min-width: 768px) {
  .page__products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .page__products {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
